In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#Reading the dataset
df = pd.read_csv('mobile_events_2020.csv', sep=';')

In [5]:
df.head()

,anonymous_id,business_zoned,context_app_version,context_device_id,context_os_name,event_name,received_at,created_at
0,9DDC5BCD-0477-4E83-A32A-51013DA0A4E7,Hamburg,3.1.13,7A718FF6-584F-40E2-939D-224231295B1E,iOS,Out-Of-Business Zone View Shown,2020-09-01 23:59:44,2020-09-01 23:59:18
1,5592E78E-CE87-4258-B8D7-DD834A687A1E,Hamburg,3.1.13,11D0CB16-DA38-4565-9C3B-066E7877856C,iOS,Application Opened,2020-09-01 23:59:41,2020-09-01 23:59:35
2,5592E78E-CE87-4258-B8D7-DD834A687A1E,Hamburg,3.1.13,11D0CB16-DA38-4565-9C3B-066E7877856C,iOS,Ride Done - Successful,2020-09-01 23:59:41,2020-09-01 23:59:37
3,5592E78E-CE87-4258-B8D7-DD834A687A1E,Hamburg,3.1.13,11D0CB16-DA38-4565-9C3B-066E7877856C,iOS,Application Opened,2020-09-01 23:59:36,2020-09-01 23:37:46
4,5592E78E-CE87-4258-B8D7-DD834A687A1E,Hamburg,3.1.13,11D0CB16-DA38-4565-9C3B-066E7877856C,iOS,Ride Done - Unsuccessful,2020-09-01 23:59:36,2020-09-01 23:37:52

In [6]:
df.shape

(102422, 8)

In [7]:
df.isnull().sum()

anonymous_id           0
business_zoned         0
context_app_version    0
context_device_id      0
context_os_name        0
event_name             0
received_at            0
created_at             0
dtype: int64

In [8]:
df.describe()

,anonymous_id,business_zoned,context_app_version,context_device_id,context_os_name,event_name,received_at,created_at
count,102422,102422,102422,102422,102422,102422,102422,102422
unique,8629,1,9,8682,2,61,32612,51060
top,64C9AEA7-087E-4457-9597-2E8DF2D3BC75,Hamburg,3.1.13,6F9DAD30-EF9A-4F66-835F-75EC4CDD28EB,iOS,Application Opened,2020-09-01 11:21:10,2020-09-01 14:19:58
freq,201,102422,69625,201,72873,26047,91,12

In [10]:
df.dtypes

anonymous_id           object
business_zoned         object
context_app_version    object
context_device_id      object
context_os_name        object
event_name             object
received_at            object
created_at             object
dtype: object

In [ ]:
1. What is the % of sessions with an intention to book a scooter?

Ans-1 As the data set is related to mobile events we can not tell the intention to book a scooter

In [ ]:
2. What is the % of sessions with a successful booking? 

Ans-2 cant be tell by analyzing the given data

In [ ]:
3. What determines, according to you, an intention to book?

Ans-3 An intention to book can be determined by specific user actions or events that suggest a user's interest in booking a scooter. These actions might include:
1. Searching for scooter availability in a location.
2. Viewing scooter details and selecting a scooter type.
3. Adding a scooter to a cart or starting the booking process.
4. Entering payment information.

In [ ]:
4. What are factors, according to you, determining a successful booking? 

Ans-4 Factors that determine a successful booking typically include:

1. Completing the booking process, including selecting a scooter, entering payment information, and confirming the booking.
2. Receiving a booking confirmation.
3. Payment processing and authorization.
4. The scooter being successfully reserved for the user.

In [ ]:
5. Do you have any hypotheses after exploring this data? If yes, please add them.

Ans-5