In [1]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('customer_data.csv')

In [3]:
df.head()

   customer_id  age gender            email  purchases
0         1001   35      M  abc@example.com       10.0
1         1002   28      F  def@example.com        5.0
2         1003   40      F  ghi@example.com        NaN
3         1004   45      M  jkl@example.com        8.0
4         1005   33      M  mno@example.com       15.0

In [6]:
#rows before removing duplicates
df.shape

(9, 5)

# Perform data cleaning operations

In [7]:
#removing duplicates
df.drop_duplicates(inplace=True)

In [9]:
#rows after removing duplicates
df.shape

(9, 5)

In [10]:
#checking missing values
df.isnull().sum()

customer_id    0
age            0
gender         0
email          0
purchases      2
dtype: int64

In [11]:
#Replacing null values with mean/average
df['purchases'].fillna(df['purchases'].mean(), inplace=True)

In [12]:
df.isnull().sum()

customer_id    0
age            0
gender         0
email          0
purchases      0
dtype: int64

In [13]:
# Calculate the average number of purchases for each gender
average_purchases = df.groupby('gender')['purchases'].mean()

print("Average number of purchases by gender:")
print(average_purchases)

Average number of purchases by gender:
gender
F     7.971429
M    11.250000
Name: purchases, dtype: float64